@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Playfair+Display:wght@700&display=swap');
@import './utils.css';

body {
    font-family: 'Arial, sans-serif';
    color: #333;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}